body {
  font-family: 'Audiowide', cursive;
  font-weight: 300;
}

img {
  width: 320px;
  height: 320px;
  margin: 0 auto;
}

p {
  font-family: 'Audiowide', cursive;
  font-weight: 300;
  text-align: left;
}

h3.beschrijving {
  font-family: 'Audiowide', cursive;
  font-weight: 500;
  text-align: left;
}
p.beschrijving {
  font-family: 'Audiowide', cursive;
  font-weight: 500;
  text-align: left;
}

.pull-top {
	display: inline-block;
    vertical-align: top;
    float: none;
}