body {
  font-family: 'Audiowide', cursive;
  font-weight: 300;
}

img {
  width: 320px;
  height: 320px;
  margin: 0 auto;
}

p {
  font-family: 'Audiowide', cursive;
  font-weight: 300;
  text-align: right;
}
